# Python virtual environment
venv/
env/
ENV/

# Large model files  
*.keras
*.h5
*.pb

# Large data folders
cleaned_images_for_model/
image_data_from_repo/
mlruns/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store

# Logs
*.log
api.log
